<div class="min-h-screen bg-gray-100 dark:bg-gray-800">
  <!-- Navbar -->
  <nav class="bg-white dark:bg-gray-900 shadow">
    <div class="container mx-auto px-6 py-4">
      <div class="flex justify-between items-center">
        <button routerLink="/products" class="text-gray-600 dark:text-gray-300 hover:underline">Products
        </button>
        <div>
          <button routerLink="/cart" class="text-gray-600 dark:text-gray-300 hover:underline">Cart
            <span>{{cartStore.products().length}}</span></button>

          <!-- Add more navigation items here -->
        </div>
      </div>
    </div>
  </nav>
<body>
  <router-outlet />
</body>
<footer>
  '© 2025 MyCompany. All rights reserved.',
    'Designed with ❤️ by MyCompany.',
    'Stay Connected! Follow us on social media.',
    'Empowering innovation, one step at a time.',
    'Bringing ideas to life since 2020.'
</footer>
  